body {
  margin: 0;
  font-family: 'M PLUS 1 Code', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,rgb(139, 48, 139), rgb(88, 52, 109), rgb(26, 38, 61), rgb(68, 11, 24));
}
